$color1: #FFE5D8;
$colorfooter: #FBE6D9;

body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

p, span{
    font-family: 'Roboto', sans-serif;
    color: black;
}

// DISEÑO NAVBAR
.navBar{
    z-index: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: $color1;
    width: 100%;
    height: 80px;
    position: fixed;
    a{
        text-decoration: none;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-right: 10%;
    }
}

.parrafosNegrita{
    font-weight: bold;
}

.navBarLogo{
    margin-right: 70% !important;
}
// DISEÑO GRID PRINCIPAL
.containerGrid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto 50px 150px 50px 100px 50px 200px auto;
    padding-top: 80px;
    grid-template-areas: "banner banner"
    "sobreAyun sobreAyun"
    "textoSobreAyun imagenSobreAyun"
    "sobreMi sobreMi"
    "imagenSobreMi textoSobreMi"
    "propuesta propuesta"
    "contenidoPropuesta contenidoPropuesta"
    "testimonios testimonios"
    "contenidoTestimonios contenidoTestimonios"
    "servicios servicios"
    "contenidoServicios contenidoServicios"
    "turnos turnos"
    "contenidoTurnos contenidoTurnos"
    "contacto contacto"
    "contenidoContacto contenidoContacto"
    "footer footer";
}

section#banner{
    grid-area: banner;
}
section#sobreAyun{
    grid-area: sobreAyun;
}
section#textoSobreAyun{
    grid-area: textoSobreAyun;
}
section#imagen1{
    grid-area: imagenSobreAyun;
}
section#sobreMi{
    grid-area: sobreMi;
}
section#imagenSobreMi{
    grid-area: imagenSobreMi;
}
section#textoSobreMi{
    grid-area: textoSobreMi;
}
section#propuesta{
    grid-area: propuesta;
}
section#contenidoPropuesta{
    grid-area: contenidoPropuesta;
}
section#testimonios{
    grid-area: testimonios;
}
section#contenidoTestimonios{
    grid-area: contenidoTestimonios;
}
section#servicios{
    grid-area: servicios;
}
section#contenidoServicios{
    grid-area: contenidoServicios;
}
section#turnos{
    grid-area: turnos;
}
section#contenidoTurnos{
    grid-area: contenidoTurnos;
}
section#contacto{
    grid-area: contacto;
}
section#contenidoContacto{
    grid-area: contenidoContacto;
}
section#footer{
    grid-area: footer;
}
// FORMATO BANNER DE INICIO
.containerGrid__banner{
    img{
        width: 100%;
        height: auto;
    }
}
//FORMATO DE TITULOS
.formatoTitulos{
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 10px;
    p{
        font-weight: 600;
    }
}
// FORMATO INFORMACION DE INICIO
.containerGrid__textoSobreAyun{
    display: flex;
    justify-content: left;
    margin-left: 38%;
    margin-right: 13%;
    p{
        font-size: 22px;
        margin: 0;
        display: inline;
    }
    ul{
        margin: 0;
        li{
            font-size: 22px;
            color: orange;
        }
    }
}

.containerGrid__imagenSobreAyun{
    display: flex;
    justify-content: right;
    margin-right: 38%;
}

.containerGrid__imagenSobreMi{
    display: flex;
    justify-content: left;
    margin-left: 38%;
}

.containerGrid__textoSobreMi{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 15%;
    margin-right: 38%;
    p{
        font-size: 22px;
        margin: 0;
    }
}
// FIN FORMATO DE INICIO

// PROPUESTA
#containerGrid__contenidoPropuesta{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 19%;
        text-align: center;
        padding: 0.5%;
        img{
            margin-bottom: 10%;
        }
        p{
            color: #FF948A;
            font-weight: 500;
        }
    }
}

//TESTIMONIOS
#contenidoTestimonios{
    background: url("../images/backgroun-testimonios.svg");
    background-size: cover;
    height: auto;
    padding: 3%;

}
#containerGrid__contenidoTestimonios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .clippy{
            background-color: #F0A29A;
            width: 310px;
            height: 310px;;
            clip-path: polygon(0 11%, 100% 11%, 100% 75%, 75% 75%, 70% 100%, 55% 75%, 0% 75%);
            text-align: center;
            p{
                padding: 10%;
                padding-top: 15%;
                padding-bottom: 15%;
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            img{
                width: auto;
            }
            span{
                font-weight: 500;
                margin-top: 5%;
            }
        }
    }
}

// FORMATO FOOTER 
.containerGrid__footer{
    display: flex;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: $colorfooter;
    justify-content: space-around;
    p{
        margin: 0;
        font-size: 20px;
    }
    
    li{
        list-style: none;
        margin: 6px;
        img{
            width: auto;
            height: 100%;
            padding-right: 4px;
        }
        a{
            text-decoration: none;
            color: black;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }
    }
}






































































