$color1: #FFE5D8;
$colorfooter: #FBE6D9;

body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

p, span{
    font-family: 'Roboto', sans-serif;
    color: black;
}

h4{
    font-family: 'Roboto', sans-serif;
    color: #FF948A;
}

.nav-item{
    a{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }
}


.parrafosNegrita{
    font-weight: bold;
}

.navBarLogo{
    margin-left: 5%;
}


// DISEÑO GRID PRINCIPAL


    .containerGrid{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "banner banner"
        "sobreAyun sobreAyun"
        "textoSobreAyun imagenSobreAyun"
        "sobreMi sobreMi"
        "imagenSobreMi textoSobreMi"
        "propuesta propuesta"
        "contenidoPropuesta contenidoPropuesta"
        "testimonios testimonios"
        "contenidoTestimonios contenidoTestimonios"
        "servicios servicios"
        "contenidoServicios contenidoServicios"
        "turnos turnos"
        "contenidoTurnos contenidoTurnos"
        "contacto contacto"
        "contenidoContacto contenidoContacto"
        "footer footer";
    }





section#banner{
    grid-area: banner;
}
section#sobreAyun{
    grid-area: sobreAyun;
}
section#textoSobreAyun{
    grid-area: textoSobreAyun;
}
section#imagen1{
    grid-area: imagenSobreAyun;
}
section#sobreMi{
    grid-area: sobreMi;
}
section#imagenSobreMi{
    grid-area: imagenSobreMi;
}
section#textoSobreMi{
    grid-area: textoSobreMi;
}
section#propuesta{
    grid-area: propuesta;
}
section#contenidoPropuesta{
    grid-area: contenidoPropuesta;
}
section#testimonios{
    grid-area: testimonios;
}
section#contenidoTestimonios{
    grid-area: contenidoTestimonios;
}
section#servicios{
    grid-area: servicios;
}
section#contenidoServicios{
    grid-area: contenidoServicios;
}
section#turnos{
    grid-area: turnos;
}
section#contenidoTurnos{
    grid-area: contenidoTurnos;
}
section#contacto{
    grid-area: contacto;
}
section#contenidoContacto{
    grid-area: contenidoContacto;
}
section#footer{
    grid-area: footer;
}
// FORMATO BANNER DE INICIO
.containerGrid__banner{
    img{
        width: 100%;
        height: auto;
    }
}
//FORMATO DE TITULOS
.formatoTitulos{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 10px;
    p{
        font-weight: 600;
    }
}
// FORMATO INFORMACION DE INICIO


.containerGrid__textoSobreAyun{
    display: flex;
    justify-content: left;
    margin-left: 38%;
    margin-right: 13%;
    p{
        font-size: 22px;
        margin: 0;
        display: inline;
    }
    ul{
        margin: 0;
        li{
            font-size: 22px;
            color: orange;
        }
    }
}

#imagenSobreMi{
    align-items: center;
}

.containerGrid__imagenSobreAyun{
    display: flex;
    justify-content: right;
    margin-right: 38%;
}

.containerGrid__imagenSobreMi{
    display: flex;
    justify-content: left;
    margin-left: 38%;
}

.containerGrid__textoSobreMi{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 15%;
    margin-right: 38%;
    p{
        font-size: 22px;
        margin: 0;
    }
}

.containerGrid__turnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FBE6D9;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 30px;
    p{
        font-size: 22px;
        margin: 0;
    }
}
// FIN FORMATO DE INICIO

// PROPUESTA
#containerGrid__contenidoPropuesta{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0.5%;
        width: 19%;
        img{
            margin-bottom: 10%;
        }
        p{
            color: #FF948A;
            font-weight: 500;
        }
    }
}

//TESTIMONIOS
#contenidoTestimonios{
    background: url("../images/backgroun-testimonios.svg");
    background-size: cover;
    height: auto;
    padding: 3%;

}
#containerGrid__contenidoTestimonios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .clippy{
            background-color: #F0A29A;
            width: 330px;
            height: 330px;;
            clip-path: polygon(0 11%, 100% 11%, 100% 75%, 75% 75%, 70% 100%, 55% 75%, 0% 75%);
            text-align: center;
            p{
                padding: 10%;
                padding-top: 15%;
                padding-bottom: 15%;
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            img{
                width: auto;
            }
            span{
                font-weight: 500;
                margin-top: 5%;
            }
        }
    }
}

// FORMATO FOOTER 
.containerGrid__footer{
    display: flex;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: $colorfooter;
    justify-content: space-around;
    p{
        margin: 0;
        font-size: 20px;
    }
    
    li{
        list-style: none;
        margin: 6px;
        img{
            width: auto;
            height: 100%;
            padding-right: 4px;
        }
        a{
            text-decoration: none;
            color: black;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }
    }
}

.formatoTurnos{
    display: flex;
    justify-content: center;
}

#containerGrid__contenidoContacto{
    background-color: rgba(255, 255, 255, .6);
    padding: 25px;
    margin: 25px;      
  }
  
#contenidoContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
    /* padding: 25px;
    margin: 25px; */
  
    width: 100%;
    // height: 100vh;
    // height: 100%;
    max-width: none;  
    background-image: url(../images/formback.png);
    background-repeat:repeat;
    background-position: center; 
    background-size: contain;
  }
  
  
  /* Carrusel */
  
  .carousel {
      margin: 30px auto 60px;
      padding: 0 80px;
  }
  .carousel .carousel-item {
      text-align: center;
      overflow: hidden;
  }
  .carousel .carousel-item h4 {
      font-family: 'Roboto', sans-serif;
  }
  .carousel .carousel-item img {
      max-width: 100%;
      display: inline-block;
  }
  .carousel .carousel-item .btn {
      border-radius: 0;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      background: #FF948A;
      padding: 6px 15px;			 	 
      margin-top: 5px;
  }
  .carousel .carousel-item .btn:hover {
      background: #ff948aa1;
  }
  .carousel .carousel-item .btn i {
      font-size: 14px;
      font-weight: bold;
      margin-left: 5px;
  }
  .carousel .thumb-wrapper {
      margin: 5px;
      text-align: left;
						 
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
  }
  .carousel .thumb-content {
      font-family: 'Roboto', sans-serif;
      padding: 15px;
      font-size: 14px;
    //   height: 50px;
  }
  .carousel-control-prev, .carousel-control-next {
      height: 44px;
      width: 44px;
      background: none;	
      margin: auto 0;
      border-radius: 50%;
      border: 3px solid rgba(0, 0, 0, 0.8);
  }
  .carousel-control-prev i, .carousel-control-next i {
      font-size: 36px;
      position: absolute;
      top: 50%;
      display: inline-block;
      margin: -19px 0 0 0;
      z-index: 100;
      left: 0;
      right: 0;
      color: rgba(0, 0, 0, 0.8);
      text-shadow: none;
      font-weight: bold;
  }
  .carousel-control-prev i {
      margin-left: -3px;
  }
  .carousel-control-next i {
      margin-right: -3px;
  }
  .carousel-indicators {
      bottom: -50px;
  }
  .carousel-indicators li, .carousel-indicators li.active {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 4px;
      border: none;
  }
  .carousel-indicators li {	
      background: #ababab;
  }
  .carousel-indicators li.active {	
      background: #555;
  }

//TABLET
@media only screen and (max-width: 768px){
    // Grid
    .containerGrid{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        "banner"
        "sobreAyun"
        "textoSobreAyun"
        "imagenSobreAyun"
        "sobreMi"
        "textoSobreMi"
        "imagenSobreMi"
        "propuesta"
        "contenidoPropuesta"
        "testimonios"
        "contenidoTestimonios"
        "servicios"
        "contenidoServicios"
        "turnos"
        "contenidoTurnos"
        "contacto"
        "contenidoContacto"
        "footer";
    }



    // FORMATO INFORMACIÓN DE INICIO
    .containerGrid__textoSobreAyun{
        display: flex;
        justify-content: center;
        margin: 0 10% 20px 10%;
    }

    .containerGrid__imagenSobreAyun{
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
    }

    .containerGrid__imagenSobreMi{
        display: flex;
        justify-content: center;
        margin: 10px 0 40px 0;
    }

    .containerGrid__textoSobreMi{
        display: flex;
        justify-content: center;
        margin: 0 10% 20px 10%;
    }

    // FORMATO FOOTER

    .containerGrid__footer{
        display: flex;
        padding: 20px;
        padding-left: 6%;
        padding-right: 6%;
        background-color: $colorfooter;
        justify-content: space-around;
        p{
            margin: 0;
            font-size: 20px;
        }
        
        li{
            list-style: none;
            margin: 6px;
            img{
                width: auto;
                height: 100%;
                padding-right: 4px;
            }
            a{
                text-decoration: none;
                color: black;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
            }
        }
    }

    //PROPUESTA
    #containerGrid__contenidoPropuesta{
        div{
            width: 50%;
            font-size: 20px;
        }
    }


    //TESTIMONIOS
    #containerGrid__contenidoTestimonios{
        justify-content: center;
        margin-bottom: 200px;

        div{
            font-size: 20px;
            .clippy{
                width: 400px;
                height: 400px;
            }
        }

    }

    //Servicios
    //Carrusel
    //Carrusel
    .carousel .thumb-content {
        font-size: 20px;
    }
    .carousel .carousel-item h4 {
        font-size: 30px;
    }
    .formatoTitulos{
        font-size: 50px;
    }

    .carousel .carousel-item .btn {
        font-size: 20px;
    }

    //turnos
    .containerGrid__turnos{
        p{
            font-size: 20px;
        }
    }

    .btn-dark{
        font-size: 30px;
    }

    //Formulario
    .form-control{
        font-size: 20px;
    }

    .form-label{
        font-size: 20px;
    }


}
//CELULAR
@media only screen and (max-width: 480px){

        // Grid
        .containerGrid{
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
            grid-template-areas: 
            "banner"
            "sobreAyun"
            "textoSobreAyun"
            "imagenSobreAyun"
            "sobreMi"
            "textoSobreMi"
            "imagenSobreMi"
            "propuesta"
            "contenidoPropuesta"
            "testimonios"
            "contenidoTestimonios"
            "servicios"
            "contenidoServicios"
            "turnos"
            "contenidoTurnos"
            "contacto"
            "contenidoContacto"
            "footer";
        }
    
        // FORMATO INFORMACIÓN DE INICIO
        .containerGrid__textoSobreAyun{
            display: flex;
            justify-content: left;
            margin: 0 10% 20px 10%;
        }
    
        .containerGrid__imagenSobreAyun{
            display: flex;
            justify-content: center;
            margin: 20px 0 20px 0;
        }
    
        .containerGrid__imagenSobreMi{
            display: flex;
            justify-content: center;
            margin: 10px 0 40px 0;
        }
    
        .containerGrid__textoSobreMi{
            display: flex;
            justify-content: center;
            margin: 0 10% 20px 10%;
        }

        // FORMATO FOOTER

        .containerGrid__footer{
            display: flex;
            flex-direction: column;
            padding: 20px;
            padding-left: 1%;
            padding-right: 1%;
            background-color: $colorfooter;
            justify-content: center;
            p{
                margin: 0;
                font-size: 13px;
            }
            
            li{
                list-style: none;
                margin: 6px;
                padding: 0;
                img{
                    width: auto;
                    height: 100%;
                    padding-right: 4px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-family: 'Roboto', sans-serif;
                    font-size: 13px;
                }
            }
        }
}


// mediaquery extra para el inicio
@media only screen and (max-width: 1300px){


    // FORMATO INFORMACIÓN DE INICIO
    .containerGrid__textoSobreAyun{
        display: flex;
        justify-content: center;
        margin: 0 6% 20px 6%;
    }

    .containerGrid__imagenSobreAyun{
        display: flex;
        justify-content: center;
        margin: 20px 6% 20px 6%;
        img{
            width: 100%;
        }
    }

    .containerGrid__imagenSobreMi{
        display: flex;
        justify-content: center;
        margin: 10px 6% 40px 6%;
        img{
            width: 100%;
        }
    }

    .containerGrid__textoSobreMi{
        display: flex;
        justify-content: center;
        margin: 0 6% 20px 6%;
    }

    // footer

    .containerGrid__footer{
        display: flex;
        padding: 20px;
        padding-left: 6%;
        padding-right: 6%;
        background-color: $colorfooter;
        justify-content: space-around;
        p{
            margin: 0;
            font-size: 20px;
        }
        
        li{
            list-style: none;
            margin: 6px;
            img{
                width: auto;
                height: 100%;
                padding-right: 4px;
            }
            a{
                text-decoration: none;
                color: black;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
            }
        }
    }
}
// fin mediaquery 1300px






























































